# common file patterns
.DS_STORE
.idea
*.iml
*.pyc
__pycache__
*.jar
*.class
.project
*.prefs
_build
venv
*.log
*.tar.gz
*.db
*.db-journal
.env

**/target


# c middle file
*.o
*.s

# 忽略所有隐藏目录
.*/

.vscode
.VSCodeCounter